/* CSS Document */
/* Fjerner hvid kant i browser*/
body {
    margin: 0px;
}

/* Sørger for bredden man angiver på bokse matcher og at 
eksempelvis padding ikke lægges oven i bredden*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* fonts */
h1{
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}

a{
    color: #b30a0a;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
}

#header_billede {
    background: linear-gradient(rgba(179, 10, 10, 0.45), rgba(179, 10, 10, 0.45)),
    url("../Image/kategorier.jpg") no-repeat center;
    width: 100%;
    height: 400px;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 150px 0px;
}

#header_billede p{
    display: none;
}

.rodboks{
    border: solid;
    border-width: 5px;
    border-color: #b30a0a;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    height: 300px;
    padding-top: 100px;
}




.just{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.just h3, .just p{
    display: inline-block;
    margin-right: 0px;
}
.knap{
    display: flex;
    justify-content: center;
}

input[type=submit] {
    color: white;
    background-color: #b30a0a;
    border: none;
    height: 30px;
    width: 250px;
}


/* Udgangpunkt: Tablet højkant*/
@media only screen and (min-width: 768px) {

}

/* Udgangpunkt: Tablet landscape*/
@media only screen and (min-width: 992px) {
    #header_billede p{
        display: block;
    }
    #header_billede{
        padding: 130px 10%;
    }

    .kategorier{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    .aktiviteter{
        width: 45%;

    }
}


/* Udgangpunkt: Computer (større skærm)*/
@media only screen and (min-width: 1200px) {
    body{
        margin: 0% 10% 0% 10%;
    }

}